p {
  font-family: 'Sunflower', sans-serif;
}

body {
  background-color: white;
}

body, h1, p {
  font-weight: normal;
  font-family: 'Sunflower', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: 300;
  font-family: 'Sunflower', sans-serif;
  margin: 0 0 20px 0;
  color: darkCyan;
}

p {
  margin: 0 0 10px;
  font-family: 'Sunflower', sans-serif;
}

a {
  color: #3282e6;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {

body {
  background-color: black;
  color: white;
}

body, h1, p {
  font-weight: normal;
  font-family: 'Sunflower', sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

h1 {
  font-size: 48px;
  font-family: 'Sunflower', sans-serif;
  font-weight: 300;
  margin: 0 0 20px 0;
  color: white;
}

p {
  margin: 0 0 10px;
  font-family: 'Sunflower', sans-serif;
  color: white;
}

a {
  color: #fefefe;
  text-decoration: none;
}

}
